*{
    padding: 0;
    margin: 0;
    outline: 0;
}
ol,
ul{
    list-style-type: none;
    margin: 0;
}
ul li{
	color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
i,
span,
input{
    padding: 0;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5{
  color: #000;
  font-size: 25px;
}
body{
    background: #121212;
}
a,
a:hover{
    color: #000;
    text-decoration: none;
}
/* all fonts link start */
@font-face{
	font-family: TTNorms-Bold;
	src: url(../TTNorms-Bold.otf);
}
@font-face{
	font-family: TTNorms-Light;
	src: url(../TTNorms-Light.otf);
}
@font-face{
	font-family: TTNorms-Medium;
	src: url(../TTNorms-Medium.otf);
}
@font-face{
	font-family: TTNorms-Regular;
	src: url(../TTNorms-Regular.otf);
}
{
    font-family: 'Manrope', sans-serif;
}
/* all fonts link end */

/* header css start */
.header_section{
    padding-top: 20px;
}
.header_section .navbar-nav .nav-item .nav-link{
    font-style: normal;
    font-size: 17px;
    line-height: 100%;
    color: #FFFFFF;
    font-family: TTNorms-Medium;
    padding: 0px 25px;
     -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
    position: relative;
}
.header_section .navbar-nav .nav-item .nav-link:before{
    position: absolute;
    content: "";
    background: rgba(255, 255, 255, 0.51);
    width: 0%;
    height: 1.5px;
    left: 20%;
    bottom: -5px;
     -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
}
.header_section .navbar-nav .nav-item .nav-link:hover:before{
    width: 60%;
}
.header_section .navbar-nav .nav-item .active,
.header_section .navbar-nav .nav-item .nav-link:hover{
    color: rgba(255, 255, 255, 0.51);
}
.contact_main_frm .btn_custom,
.ftr_logo .btn_custom,
.hero_section .hero_txt .btn_custom,
.header_section .form-inline .btn_custom{
    background: #FFFFFF;
     -webkit-border-radius: 2.56671px;
    -moz-border-radius: 2.56671px;
    -ms-border-radius: 2.56671px;
    -o-border-radius: 2.56671px;
    border-radius: 2.56671px;
    font-style: normal;
    font-size: 16px;
    line-height: 21px;
    font-family: TTNorms-Medium;
    letter-spacing: -0.025em;
    color: #121212;
    padding: 8px 30px;
     -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
    border: 1px solid #fff;
    position: relative;
    z-index: 1;
}
.contact_main_frm .btn_custom:before,
.ftr_logo .btn_custom:before,
.hero_section .hero_txt .btn_custom:before,
.header_section .form-inline .btn_custom:before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background: #121212;
     -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
     -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
    z-index: -1;
}
.contact_main_frm .btn_custom:after,
.ftr_logo .btn_custom:after,
.hero_section .hero_txt .btn_custom:after,
.header_section .form-inline .btn_custom:after{
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background: #121212;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
     -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
    z-index: -1;
}
.contact_main_frm .btn_custom:hover:before,
.hero_section .hero_txt .btn_custom:hover:before,
.hero_section .hero_txt .btn_custom:hover:after{
    width: 51%;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
}
.contact_main_frm .btn_custom:hover:after,
.ftr_logo .btn_custom:hover:after,
.header_section .form-inline .btn_custom:hover:after,
.ftr_logo .btn_custom:hover:before,
.header_section .form-inline .btn_custom:hover:before{
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    width: 50%;
}
.contact_main_frm .btn_custom:hover,
.ftr_logo .btn_custom:hover,
.hero_section .hero_txt .btn_custom:hover,
.header_section .form-inline .btn_custom:hover{
    color: #fff;
}


/* Fourth Button */
.buttons {
  display: inline-flex;
  height: 40px;
  width: 380px;
  border: 2px solid #BFC0C0;
  margin: 20px 20px 20px 20px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#button-5 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-5 a {
  position: relative;
  transition: all .45s ease-Out;
}

#translate {
  transform: rotate(50deg);
  width: 100%;
  height: 250%;
  left: -200px;
  top: -30px;
  background: #fff;
  position: absolute;
  transition: all .3s ease-Out;
}

#button-5:hover #translate {
  left: 0;
}

#button-5:hover a {
  color: #2D3142;
}

.hero_txt{
    text-align: center;
    padding-top: 120px;
}
.hero_txt h2{
    font-style: normal;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -0.025em;
    color: #FFFFFF;
    font-family: TTNorms-Bold;
    padding-bottom: 25px;
}
.hero_txt .custm_scrl{
    margin-top: 120px;
    margin-bottom: 30px;
}
.hero_txt a img{
    width: 25px;
}
.hero_section{
    padding-bottom: 25px;
}
/* header css end */

/* process css start */
.process_section{
    background: #1A1A1A;
    padding: 60px 0px;
    padding-top: 90px;
}
.process_step p,
.process_step h6{
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    color: #2476F2;
    font-family: TTNorms-Medium;
}
.process_step p{
    color: #fff;
    margin-top: 15px;
}
.process_step .d_flex{
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
     -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
}
.process_step .d_flex img{
    margin-left: 25px;
    width: 12px;
}
.circle_three,
.circle_twoo,
.circle_onee{
    position: relative;
}
.circle_onee::before {
	position: absolute;
	content: "";
	right: -65px;
	top: -42px;
	background: url(../images/circle_1.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
    -webkit-background-size: 66px;
    -moz-background-size: 66px;
    -ms-background-size: 66px;
    -o-background-size: 66px;
	background-size: 66px;
}
.circle_twoo::before {
	position: absolute;
	content: "";
	right: 160px;
	top: -38px;
	background: url(../images/circle_2.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
    -webkit-background-size: 155px;
    -moz-background-size: 155px;
    -ms-background-size: 155px;
    -o-background-size: 155px;
	background-size: 155px;
}
.circle_three::before {
	position: absolute;
	content: "";
	right: -5px;
	top: 107px;
	background: url(../images/circle_3.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
    -webkit-background-size: 64px;
    -moz-background-size: 64px;
    -ms-background-size: 64px;
    -o-background-size: 64px;
	background-size: 64px;
}
/* process css end */

/* help css start */
.help_section{
    padding: 40px 0px;
    background: #1A1A1A;
}
.help_lft_txt h3{
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 57px;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
    font-family: 'Manrope', sans-serif;
}
.help_lft_txt p{
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 28px;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
    font-family: 'Manrope', sans-serif;
    padding-top: 15px;
}
.help_rgt_txt {
    margin-top: 25px;
}
.help_rgt_txt img{
    margin-right: 10px;
}
.help_rgt_txt h3{
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 32px;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
    font-family: 'Manrope', sans-serif;
    padding-bottom: 2px;
}
.help_rgt_txt p{
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 26px;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
    font-family: 'Manrope', sans-serif;
}
/* help css end */

/* what we do css start */
.what_we_use_sec,
.what_we_do_sec{
    padding: 80px 0px;
}
.commom_head_txt{
    text-align: center;
    padding-bottom: 60px;
}
.commom_head_txt h2{
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #FFFFFF;
    font-family: TTNorms-Bold;
}
.commom_head_txt h2 span{
    color: #2476F2;
}
.commom_head_txt p{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.025em;
    font-feature-settings: 'liga' off;
    color: rgba(241, 241, 241, 0.75);
    font-family: TTNorms-Regular;
    padding-top: 25px;
}
.what_do_all_boxs{
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}
.what_do_box img{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.what_do_box {
    position: relative;
}
.what_do_box::before {
	position: absolute;
	content: "";
	right: -71px;
	top: 0;
	background: url(../fonts/line-vector.svg);
	background-repeat: no-repeat;
	background-position: center right;
	width: 100%;
	height: 100%;
    -webkit-background-size: 75px;
    -moz-background-size: 75px;
    -ms-background-size: 75px;
    -o-background-size: 75px;
	background-size: 75px;
}
.what_do_box:last-child:before{
    background: none;
    width: 0%;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
}
.what_do_box:first-child:before{
    left: 78px;
}
.what_do_box:nth-child(4):before{
    left: 65px;
}
/* what we do css end */

/* project css start */
.kocerroxy_box{
    background: #345DED; /* Old browsers */
    -webkit-border-radius: 3.46042px;
    -moz-border-radius: 3.46042px;
    -ms-border-radius: 3.46042px;
    -o-border-radius: 3.46042px;
    border-radius: 3.46042px;
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 20px;
}
.project_box_lft{
    padding-bottom: 25px;
}
.business_enlish h6,
.project_box_lft h6{
    font-style: normal;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    padding-bottom: 20px;
    font-family: TTNorms-Medium;
}
.business_enlish h3,
.project_box_lft h3{
    font-style: normal;
    font-size: 58px;
    line-height: 90%;
    letter-spacing: -0.025em;
    color: #FFFFFF;
    font-family: TTNorms-Bold;
    padding-bottom: 30px;
}
.project_rvw_box{
    border: 1.8126px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 3.46042px;
    padding: 15px;
    width: 80%;
}
.project_rvw_box h5{
    font-style: normal;
    font-size: 14.5008px;
    line-height: 20px;
    letter-spacing: -0.36252px;
    color: #FFFFFF;
    font-family: TTNorms-Bold;
    margin-top: 5px;
}
.project_rvw_box .media img{
    margin-right: 15px;
}
.contact_main_frm .d_flex,
.business_enlish .d_flex,
.project_rvw_box .d_flex{
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
}
.contact_main_frm .d_flex{
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}
.contact_main_frm .d_flex img{
    width: 25px;
}
.project_rvw_box p{
    font-style: normal;
    font-size: 16.3134px;
    line-height: 24px;
    letter-spacing: -0.27189px;
    color: #FFFFFF;
    font-family: TTNorms-Regular;
    padding-top: 15px;
}
.project_rvw_box .media-body p{
    font-style: normal;
    font-size: 12.6882px;
    line-height: 18px;
    letter-spacing: -0.36252px;
    color: #FFFFFF;
    font-family: TTNorms-Regular;
    padding-top: 0;
}
.project_box_rgt img{
   margin-top: 32px;
}
.lexpay_box{
    background: linear-gradient(262.4deg, #000000 0.53%, #0E0E0E 99.81%);
    -webkit-border-radius: 3.46042px;
    -moz-border-radius: 3.46042px;;
    -ms-border-radius: 3.46042px;
    -o-border-radius: 3.46042px;
    border-radius: 3.46042px;
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 20px;
}
.ragevps_box{
    background: linear-gradient(262.4deg, #003191 0.53%, #023CAC 99.81%);
    -webkit-border-radius: 3.46042px;
    -moz-border-radius: 3.46042px;;
    -ms-border-radius: 3.46042px;
    -o-border-radius: 3.46042px;
    border-radius: 3.46042px;
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 20px;
}
.keeh_box{
    background: #ab1cf3; /* Old browsers */
    background: -moz-linear-gradient(left,  #ab1cf3 0%, #8815db 50%, #6e10c9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ab1cf3 0%,#8815db 50%,#6e10c9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ab1cf3 0%,#8815db 50%,#6e10c9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab1cf3', endColorstr='#6e10c9',GradientType=1 ); /* IE6-9 */
    -webkit-border-radius: 3.46042px;
    -moz-border-radius: 3.46042px;;
    -ms-border-radius: 3.46042px;
    -o-border-radius: 3.46042px;
    border-radius: 3.46042px;
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 20px;
}
.business_enlish{
   
    background: #19c9ef; /* Old browsers */
    background: -moz-linear-gradient(left,  #19c9ef 0%, #0aaacd 54%, #029abc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #19c9ef 0%,#0aaacd 54%,#029abc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #19c9ef 0%,#0aaacd 54%,#029abc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19c9ef', endColorstr='#029abc',GradientType=1 ); /* IE6-9 */
    -webkit-border-radius: 3.46042px;
    -moz-border-radius: 3.46042px;;
    -ms-border-radius: 3.46042px;
    -o-border-radius: 3.46042px;
    border-radius: 3.46042px;
    padding-top: 25px;
    padding-left: 40px;
    padding-right: 40px;
}
.sky_proxies{
    background: #1af093; /* Old browsers */
    background: -moz-linear-gradient(left,  #1af093 0%, #0cd27c 50%, #00b869 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #1af093 0%,#0cd27c 50%,#00b869 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #1af093 0%,#0cd27c 50%,#00b869 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1af093', endColorstr='#00b869',GradientType=1 ); /* IE6-9 */
}
.business_enlish img{
    margin-top: 5px;
}
.img_rggt{
    margin-top: 10px;
}
.img_rggt img{
    width: 20px;
    margin-left: 5px;
}
.project_section{
    padding-bottom: 50px;
}
/* project css end */

/* contat section start */
.contact_section{
    padding: 100px 0px;
}
.contact_lft_txt{
    border: 2.80px solid #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 25px;
    width: 80%;
    margin: 0 auto;
}
.contact_main_frm h4,
.contact_lft_txt h4{
    font-style: normal;
    font-size: 38px;
    line-height: 52px;
    letter-spacing: -2.09981px;
    color: #FFFFFF;
    font-family: TTNorms-Bold;
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
    margin-bottom: 15px;
}
.contact_main_frm h4{
    border-bottom: none;
    margin-bottom: 0;
}
.contact_lft_txt h6{
    font-style: normal;
    font-size: 24px;
    line-height: 42px;
    letter-spacing: -0.769932px;
    color: #FFFFFF;
    font-family: TTNorms-Bold;
    padding-bottom: 15px;
}
.contact_lft_txt p{
    font-style: normal;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.419963px;
    font-feature-settings: 'liga' off;
    color: rgba(255, 255, 255, 0.75);
    font-family: TTNorms-Regular;
    padding-bottom: 15px;
}
.contact_lft_txt ul li{
    font-style: normal;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.55995px;
    color: #FFFFFF;
    font-family: TTNorms-Medium;
    padding-bottom: 10px;
}
.contact_lft_txt ul {
    padding-bottom: 50px;
}
.contact_btm_immg{
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
     -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}
.contact_main_frm .form-group{
    background: #141313;
    border: 2.27219px solid #FFFFFF;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 25px;
}
.contact_main_frm .form-group label {
	font-style: normal;
	font-size: 12px;
	line-height: 25px;
	letter-spacing: 0.113609px;
	font-family: TTNorms-Medium;
	color: #CFCFCF;
	padding-left: 12px;
	padding-top: 4px;
    margin-bottom: 0;
}
.contact_main_frm .form-control{
    background: transparent;
    border: none;
    font-style: normal;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0.499881px;
    color: #FFFFFF;
    font-family: TTNorms-Regular;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
    padding-top: 1px;
}
.custom_bgg{
    background: #141313!important;
     -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.custom_arrw{
    position: relative;
}
.custom_arrw::before {
	position: absolute;
	content: "";
	background: url(../images/angl_up.png);
    -webkit-background-size: 21px;
    -moz-background-size: 21px;
    -ms-background-size: 21px;
    -o-background-size: 21px;
	background-size: 21px;
	background-repeat: no-repeat;
	background-position: center right;
	width: 11%;
	height: 50%;
	right: 20px;
	top: 50%;
    -webkit-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    -o-transform: translatey(-50%);
	transform: translatey(-50%);
}
.contact_main_frm .form-control option{
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0.499881px;
    color: #FFFFFF;
    font-family: TTNorms-Regular;
}
.contact_main_frm .form-control:focus-within{
    box-shadow: none;
}
.box_shd:focus-within{
    box-shadow: 0px 0px 4.54438px rgba(41, 121, 255, 0.48), 0px 0px 18.1775px rgba(41, 121, 255, 0.24);
    border-color: #005FFF!important;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
}
.contact_main_frm .btn_custom{
    width: 100%;
    padding: 15px 0px;
}
.file-upload-wrapper {
    position: relative;
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
}
.file-upload-wrapper:after {
    content: attr(data-text);
    font-style: normal;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.144594px;
    color: #FFFFFF;
    font-family: TTNorms-Regular;
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px 15px;
    display: block;
    width: 100%;
    pointer-events: none;
    z-index: 20;
    text-align: center;
    border: 2px dashed #CFCFCF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.file-upload-wrapper input {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 40px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
}
/* contat section end */

/* footer css start */
.footer_section{
    padding: 50px 0px 30px;
}
.ftr_logo p{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.249244px;
    font-feature-settings: 'liga' off;
    color: rgba(255, 255, 255, 0.49);
    font-family: TTNorms-Regular;
    padding-top: 20px;
    padding-bottom: 20px;
}
.ftr_links h6{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.498488px;
    color: #FFFFFF;
    font-family: TTNorms-Medium;
    padding-bottom: 15px;
}
.ftr_links ul li a{
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.249244px;
    font-feature-settings: 'liga' off;
    color: rgba(255, 255, 255, 0.49);
    font-family: TTNorms-Regular;
    padding-bottom: 8px;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
    transition: all linear .2s;
}
.ftr_links ul li a:hover{
    text-decoration: underline;
     color: rgba(255, 255, 255, 0.79);
}
.brdr_top{
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
    padding-top: 40px;
}
.ftr_copy a{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.249244px;
    font-feature-settings: 'liga' off;
    color: rgba(255, 255, 255, 0.49);
    font-family: TTNorms-Regular;
}
.ftr_social ul {
    text-align: right;
}
.ftr_social ul li{
    display: inline-block;
}
.ftr_social ul li a{
    display: block;
}
.ftr_social ul li a i{
    color: #fff;
    font-size: 17px;
    margin-left: 20px;
}
/* footer css end */

/* work css satrt */
.our_work_box{
    margin-bottom: 35px;
}
.work_box_title{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.work_box_title_2 .w_box_lft{
    width: 65%;
}
.work_box_title_2 .w_box_rgt{
    width: 35%;
}
.work_box_title_2 .w_box_rgt p{
   color: #fff;
}
.work_box_title h5{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -0.025em;
    color: #FFFFFF;
    font-family: TTNorms-Bold;
}
.work_box_title p{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.249244px;
    font-feature-settings: 'liga' off;
    color: rgba(255, 255, 255, 0.49);
    font-family: TTNorms-Regular;
    text-align: right;
}
.what_waiting{
    text-align: center;
    margin-top: 30px;
}
.what_waiting h3{
    font-style: normal;
    font-weight: bold;
    font-size: 40.7767px;
    line-height: 57px;
    letter-spacing: -1.01942px;
    color: #FFFFFF;
     font-family: TTNorms-Bold;
}
.what_waiting .btn_custom{
    background: #345DEE;
    border-radius: 2.56671px;
    font-style: normal;
    font-size: 16px;
    line-height: 21px;
    font-family: TTNorms-Medium;
    letter-spacing: -0.025em;
    color: #fff;
    padding: 10px 30px;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3;
    border: 1px solid #345DEE;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    margin-top: 15px;
}
.what_waiting .btn_custom:hover{
    background: transparent;
}
.strategy_section{
    padding-top: 50px;
    padding-bottom: 100px;
}
.work_box_title_2{
    padding-bottom: 40px;
}
.w_box_lft h5{
    font-size: 50px;
    padding-bottom: 15px;
}
.work_box_feedback h4,
.work_box_feedback h5{
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 31px;
    text-align: center;
    letter-spacing: -0.27189px;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
    font-family: TTNorms-Medium;
    width: 85%;
    margin: 0 auto;
}
.work_box_feedback {
    padding-bottom: 30px;
}
.work_box_feedback h4{
    font-size: 30px;
    font-family: TTNorms-Bold;
    padding-top: 15px;
}
.gray_boxs_f{
    margin-top: 30px;
}
/* work css end */

/* Back to top btn part Start */
.back-top-btn{
    position: fixed;
    bottom: 15px;
    right: 20px;
   display: none;
     width: 34px;
    height: 35px;
    text-align: center;
}
.back-top-btn img{
    -webkit-transform: rotate(-43deg);
    -moz-transform: rotate(-43deg);
    -ms-transform: rotate(-43deg);
    -o-transform: rotate(-43deg);
    transform: rotate(-43deg);
}
/* Back to top btn part End */